<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr class="zebra-row" [class.warning]="lists.shouldShowWarning()"  *ngFor="let lists of satellites">
       <td>{{lists.name}}</td>
       <td>{{lists.type}}</td>
       <td>{{lists.operational}}</td>
       <td>{{lists.orbitType}}</td>
       <td>{{lists.launchDate}}</td>
   </tr>
</table>

<!-- <app-orbit-list [satellites]="displayList"></app-orbit-list>
infinite loop starts when this is added -->
